[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/cms
[submodule "assets"]
	path = assets
	url = https://github.com/TeamPlusPlus/projectassets
[submodule "site"]
	path = site
	url = https://github.com/TeamPlusPlus/projectsite
