/*
 * SCSS variables for the Team PlusPlus website
 * @file     _vars.scss
 * @author   Lukas Bestle <http://lu-x.me>
 * @created  28.03.2013 22:09
 * @updated  29.03.2013 21:10
 */

// Font sizes
$base-font-size:   16px;
$extr-font-size:   17px;

// Colors
$back-color:       white;
$brand-color:      #2ea1e2;
$brand-color-dark: darken($brand-color, 25);