/*
 * Fonts for the Team PlusPlus website
 * @file     fonts.scss
 * @author   Lukas Bestle <http://lu-x.me>
 * @created  29.03.2013 20:40
 * @updated  29.03.2013 22:10
 */

// Code Bold
@font-face {
	font-family: Code;
	src: url('../fonts/code_bold.eot');
	src: url('../fonts/code_bold.eot?#iefix')            format('embedded-opentype'),
	     url('../fonts/code_bold.woff')                  format('woff'),
	     url('../fonts/code_bold.ttf')                   format('truetype'),
	     url('../fonts/code_bold.svg#code_boldregular')  format('svg');
	font-weight: normal;
	font-style: normal;
}

// Code Light
@font-face {
	font-family: 'Code Light';
	src: url('../fonts/code_light.eot');
	src: url('../fonts/code_light.eot?#iefix')            format('embedded-opentype'),
	     url('../fonts/code_light.woff')                  format('woff'),
	     url('../fonts/code_light.ttf')                   format('truetype'),
	     url('../fonts/code_light.svg#code_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Lato
@font-face {
	font-family: Lato;
	src: url('../fonts/lato.eot');
	src: url('../fonts/lato.eot?#iefix')                  format('embedded-opentype'),
	     url('../fonts/lato.woff')                        format('woff'),
	     url('../fonts/lato.ttf')                         format('truetype'),
	     url('../fonts/lato.svg#LatoRegular')             format('svg');
	font-weight: lighter;
	font-style: normal;
}

// Nevis
@font-face {
	font-family: Nevis;
	src: url('../fonts/nevis.eot');
	src: url('../fonts/nevis.eot?#iefix')                 format('embedded-opentype'),
	     url('../fonts/nevis.woff')                       format('woff'),
	     url('../fonts/nevis.ttf')                        format('truetype'),
	     url('../fonts/nevis.svg#webfontbold')            format('svg');
	font-weight: bold;
	font-style: normal;
}

// Icomoon
@font-face {
	font-family: Icomoon;
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon?#iefix')                   format('embedded-opentype'),
	     url('../fonts/icomoon.woff')                     format('woff'),
	     url('../fonts/icomoon.ttf')                      format('truetype'),
	     url('../fonts/icomoon.svg#icomoon-ultimate')     format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: Icomoon;
	content: attr(data-icon);
	
	padding-right: 5px;
	
	position: relative;
	top: 2px;
	
	speak: none;
	
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	-webkit-font-smoothing: antialiased;
}