/*
 * Layout styles for the Team PlusPlus website
 * @file     layout.scss
 * @author   Lukas Bestle <http://lu-x.me>
 * @created  28.03.2013 22:09
 * @updated  30.03.2013 18:20
 */

// Force footer to stay at the bottom
.wrapper {
	min-height: 100%;
	position: relative;
}

// Header
header {
	margin-bottom: 10px;
	
	.center {
		max-width: 450px;
		margin: auto;
		display: none;
	}
	
	h1 {
		text-align: center;
		
		margin-bottom: 20px;
		padding: 0 30px;
		
		img {
			width: 100%;
			
			padding-top: 40px;
		}
	}
	
	// Navigation
	.feed {
		position: fixed;
		left: 25px;
		top: 4px;
		z-index: 120;
		
		span {
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			
			position: absolute;
			z-index: 110;
			top: -10px;
			left: -12px;
			
			padding: 10px;
			padding-top: 60px;
			
			a {
				display: block;
				line-height: 1.45;
			}
		}
		
		&:hover span {
			opacity: 1;
		}
		
		&:before {
			font-size: 35px;
			z-index: 120;
			line-height: 1;
		}
	}
	.nav {
		min-height: 50px;
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		
		z-index: 10;
		
		text-align: center;
		
		margin: 0 -20px;
		padding: 5px;
		
		.logo {
			position: absolute;
			top: 9px;
			right: 25px;
			
			img {
				height: 30px;
			}
		}
		
		ul {
			padding: 10px;
		}
		
		li {
			list-style: none;
			display: inline;
			
			padding: 10px;
			margin-right: 20px;
			
			&:last-child {
				margin-right: 0;
			}
			
			* {
				font-size: $extr-font-size;
			}
		}
	}
}

// Sidebar
aside {
	position: fixed;
	left: 30px;
	width: 15%;
	top: 80px;
	bottom: 0;
	
	.logo img {
		width: 100%;
		margin-bottom: 15px;
	}
	
	img {
		width: 100%;
		height: auto;
	}
	
	h2 {
		margin-top: 10px;
	}
	
	.episode {
		position: relative;
		display: block;
		
		span {
			position: absolute;
			left: 12%;
			right: 12%;
			bottom: 12%;
			display: block;
		}
	}
	
	.donate {
		iframe, form {
			float: left;
		}
		form {
			padding-top: 15px;
			margin-left: 5px;
			display: inline;
			width: 0;
		}
	}
}

// Main content
section.main {
	overflow: hidden;
	
	margin-left: 19%;
	margin-right: 0;
	
	padding: 30px;
	padding-bottom: 100px;
	
	.imgblock {
		min-height: 300px;
		
		img {
			margin-bottom: 20px;
			margin-top: 5px;
		}
		
		&:nth-child(odd) {
			img {
				float: left;
				
				margin-right: 20px;
			}
		}
		
		&:nth-child(even) {
			img {
				float: right;
				
				margin-left: 20px;
			}
		}
	}
	
	.intro {
		margin-top: 5px;
	}
	
	.episode {
		clear: left;
		position: relative;
		margin-bottom: 60px;
		
		.shownotes {
			clear: left;
		}
		
		h3 {
			margin-top: 25px;
		}
		
		img.episodelogo {
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;
		}
		
		&.float {
			display: inline;
			width: auto;
			padding: 0;
			margin: 0;
			
			img {
				width: 12.5%;
				padding: 0;
				padding-right: 5px;
				padding-bottom: 5px;
				margin: 0;
				height: auto;
			}
		}
	}
	
	.player {
		clear: both;
		h3 {
			font-family: Code;
			font-size: 15px;
			color: black;
			margin-top: 5px;
		}
		
		.bigplay {
			width: 75px;
			height: 75px;
		}
	}
	
	.flattrtop {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.infos {
		margin: 20px 0;
		
		li {
			display: inline;
			list-style: none;
			margin-right: 12px;
		}
	}
	
	ul {
		margin-left: 25px;
	}
}

// Footer
footer {
	padding: 20px;
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	* {
		font-size: 14px;
	}
	
	div {
		position: absolute;
		left: 40px;
	}
	
	ul {
		text-align: center;
		
		li {
			list-style: none;
			display: inline;
			
			&:last-child:after {
				content: "";
			}
			
			&:after {
				content: " • ";
			}
		}
	}
}
