/*
 * Responsive design for the Team PlusPlus website
 * @file     responsive.scss
 * @author   Lukas Bestle <http://lu-x.me>
 * @created  29.03.2013 22:13
 * @updated  31.03.2013 17:24
 */

// Episode previews are too small
@media screen and (max-width: 1150px) {
	.episode.float {
		img {
			width: 25% !important;
		}
	}
}

// Footer content slides into each other
@media screen and (max-width: 1000px) {
	section.main {
		padding-bottom: 125px;
	}
	
	footer {
		p {
			padding: 0 20px;
		}
		div {
			position: static;
			text-align: center;
			margin-bottom: 5px;
		}
	}
}

// Sidebar is too narrow
@media screen and (max-width: 900px) {
	aside {
		width: 200px;
	}
	section.main {
		margin-left: 250px;
	}
}

// Navigation is too narrow
// Floated images are corrupting text
@media screen and (max-width: 730px) {
	.nomobile {
		display: none;
	}
	
	nav {
		position: static !important;
		
		.logo {
			display: none;
		}
		
		li {
			display: block !important;
			
			margin: 0 !important;
			
			.active, .open {
				color: $brand-color;
				
				&:before, &:after {
					display: none;
				}
			}
			.open {
				color: darken($brand-color, 20);
			}
			
			a {
				text-align: center !important;
			}
		}
	}
	
	.imgblock img {
		float: none !important;
		
		display: block !important;
		margin: auto !important;
		
		width: 100% !important;
		height: auto;
		
		margin-bottom: 10px !important;
	}
	
	.infos li {
		display: block !important;
	}
	
	.center {
		display: block !important;
	}
	
	aside {
		position: static;
		width: auto;
		text-align: center;
		
		.logo {
			display: none;
		}
	}
	
	section.main {
		margin-left: 0;
	}
	
	.episode img {
		float: none !important;
		width: 100%;
		height: auto;
	}
	
	.episode.float {
		img {
			width: 49% !important;
		}
	}
	
	.feed {
		position: absolute !important;
	}
}
